@font-face {
  font-family: 'Gordita Regular';
  font-style: normal;
  font-weight: normal;
  src: local('GorditaRegular'), url('./fonts/gordita/Gordita Regular.woff') format('woff');
}
@font-face {
      font-family: 'Gordita Light';
      font-style: normal;
      font-weight: normal;
      src: local('Gordita Light'), url('./fonts/gordita/Gordita Light.woff') format('woff');
}
@font-face {
  font-family: 'Gordita Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Bold'), url('./fonts/gordita/Gordita Bold.woff') format('woff');
}
@font-face {
  font-family: 'Gordita Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Medium'), url('./fonts/gordita/Gordita Medium.woff') format('woff');
  }
.App {
  text-align: center;
}
body{
  background-color: #000;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
